@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import "tailwindcss";

@theme{
  --color-primary:#9929EA;
  --color-secondary:#CC66DA;
}

*{
  font-family: "Lato", sans-serif;
  scrollbar-width: thin;
  scrollbar-color: #787777 #1e1e1e;
}

body{
  color: white;
  background-color: #080813;
}

.hide-scrollbar{
  scrollbar-width: none;
}

.active{
  color: #9929EA;
  font-weight: 700;
}